@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
